@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Nanum+Myeongjo&family=Newsreader:wght@200&family=Nunito+Sans:wght@200&family=Poppins:wght@200;300&display=swap');
  

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    position: relative; 
    min-height: 100vh; 
    background-image: url("../img/products-bg1.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #226A80;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="file"] {
    padding: 0;
}

input[type="submit"] {
    background-color: #226A80;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0C4F60;
}


.erro {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
ul.navbar {
    list-style-type: none;
    background-color: #333;
    padding: 20px;
    margin: 0;
    overflow: hidden;
}


ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #555;
}
